@font-face {
    font-family: 'Nunito';
    src: url('/nunito-font/Nunito-Bold.eot');
    src: url('/nunito-font/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('/nunito-font/Nunito-Bold.woff2') format('woff2'),
        url('/nunito-font/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/nunito-font/Nunito-Regular.eot');
    src: url('/nunito-font/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('/nunito-font/Nunito-Regular.woff2') format('woff2'),
        url('/nunito-font/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/nunito-font/Nunito-Medium.eot');
    src: url('/nunito-font/Nunito-Medium.eot?#iefix') format('embedded-opentype'),
        url('/nunito-font/Nunito-Medium.woff2') format('woff2'),
        url('/nunito-font/Nunito-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Nunito';
}

:root {
    /* color customize */
    --dr-primary: #1b2850;
    --dr-orange: #ea5455;
    --dr-yellow: #ff9f43;
    --dr-success: #28c76f;
    --dr-info: #00cfe8;
    --dr-white: #fff;
    --dr-notification-border-color: #092c4c;
    --dr-text-color: #212529;
    --dr-body-font-size: 1rem;
    --dr-body-font-weight: 400;
    --dr-body-line-height: 1.5;
    --dr-body-color: #212b36;
    --dr-widget-border: #e8ebed;
    /* spacing customize */
    --dr-space-2: .313rem;
    --dr-space-2-3: .375rem;
    --dr-space-2-4: .625rem;
    --dr-space-2-5: .75rem;
    --dr-space-2-7: .938rem;
    --dr-space-2-9: 1.125rem;
    --dr-space-3-5: 1.25rem;
    --dr-space-3-8: 1.563rem;
    --dr-space-4-5: 1.75rem;
    --dr-space-6: 2.5rem;

    /* size customize */
    --dr-sizes-1: 0.375rem;
    --dr-sizes-3: 0.625rem;
    --dr-sizes-4: 1rem;
    --dr-sizes-4-2: 1.125rem;
    --dr-sizes-5: 1.25rem;
    --dr-sizes-6: 1.5rem;
    --dr-sizes-8: 2rem;
    --dr-sizes-10: 2.5rem;
    --dr-sizes-12: 3rem;
    --dr-sizes-13: 3.125rem;
    --dr-sizes-15: 3.75rem;
    --dr-sizes-20: 8.75rem;
    --dr-sizes-23: 9.375rem;
    --dr-sizes-40: 16.25rem;

    /* typography */
    --dr-font-size-xs: 0.625rem;
    --dr-font-size-sm: 0.875rem;
    --dr-font-size-sm2: 0.938rem;
    --dr-font-size-md: 1rem;
    --dr-font-size-md2: 1.125rem;
    --dr-font-size-lg: 1.5rem;
    --dr-font-size-xl: 2rem;
    --dr-font-size-xxl: 3rem;

    /* border radius */
    --dr-border-radius-1: .25rem;
    --dr-border-radius-2: .375rem;

    /* z-index */
    --dr-z-index: 1000;

    --dr-border-color: #e8ebed;
}

/* customize bootstrap */
body {
    color: var(--dr-body-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'sans-serif', ;
    font-size: var(--dr-font-size-md);
}

a {
    text-decoration: none;
    color: var(--dr-text-color);
}

ul,
ol {
    list-style: none;
}

.border {
    border: var(--bs-border-width) var(--bs-border-style) var(--dr-body-color);
}

/* custom class */
.icon {
    width: var(--dr-sizes-6);
}

.table-active {
    --bs-table-color-state: #212b36;
    --bs-table-bg-state: #fafbfe;
}

.table-hover>tbody>tr:hover>* {
    --bs-table-bg-state: #f5f5f5;
}


/* main style */
.main_wrapper {
    display: flex;
    position: relative;
}

.sidebar {
    max-width: 260px;
    width: 100%;
    padding: var(--dr-space-3-5);
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 999;

    &::-webkit-scrollbar {
        width: 7px;
        height: 100%;
    }

    &::-webkit-scrollbar-track {
        background: rgba(204, 204, 204, 0.1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(204, 204, 204);
        border-radius: 7px;
        border: 3px solid rgb(204, 204, 204);
    }

    .navbar-nav {
        .dropdown_item {
            .dropdown-menu {
                padding: var(--dr-space-2-4) 0;
                background: #fafbfe;
                transform: translate(0, 0) !important;

                li {
                    a {
                        padding-left: var(--dr-space-6);
                        position: relative;
                        transition: all linear .3s;

                        &:hover {
                            color: var(--dr-yellow);
                            background-color: transparent;

                            &::before {
                                background: var(--dr-yellow);
                                border-color: var(--dr-yellow);
                            }
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            width: var(--dr-sizes-3);
                            height: var(--dr-sizes-3);
                            border-radius: 50%;
                            top: 50%;
                            left: 1rem;
                            transform: translateY(-50%);
                            border: 1px solid #a1a1a1;
                            transition: all linear .3s;
                        }
                    }
                }
            }

            .nav-link {
                &:after {
                    display: none;
                }
            }
        }

        .nav-item {
            margin-bottom: var(--dr-space-2-4);
            overflow: hidden;

            .nav-link {
                padding: var(--dr-space-2-4) var(--dr-space-2-7);
                color: var(--dr-body-color);
                border-radius: var(--dr-border-radius-1);
                font-size: var(--dr-font-size-sm2);
                font-weight: 500;
                transition: all linear .3s;

                span {
                    &:last-child {
                        margin-left: var(--dr-space-2-4);
                    }
                }

                &:hover {
                    background: var(--dr-primary);
                    color: var(--dr-white);

                    img {
                        filter: brightness(0) invert(1);
                    }

                    .btn i {
                        color: var(--dr-white);
                    }
                }

                button {
                    i {
                        transition: all linear .3s;
                    }
                }

                &:focus {
                    button {
                        i {
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            .active {
                background: var(--dr-primary);
                color: var(--dr-white);

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}


/* main content style */

.main_content {
    flex-grow: 1;
    position: relative;

    .header {
        height: var(--dr-sizes-15);
        position: fixed;
        width: 100%;
        z-index: 999;

        .navbar {
            .header_left {
                width: var(--dr-sizes-40);
                padding: 0 var(--dr-space-3-5);

                .main_logo {
                    width: var(--dr-sizes-20);
                    max-width: 100%;
                }

                .notification_btn {
                    position: relative;
                    width: var(--dr-sizes-4-2);
                    height: var(--dr-sizes-4-2);
                    border: 2px solid var(--dr-notification-border-color);
                    border-radius: 50%;
                    margin-left: var(--dr-space-2-7);

                    &::after {
                        position: absolute;
                        content: '';
                        width: var(--dr-sizes-1);
                        height: var(--dr-sizes-1);
                        background: var(--dr-white);
                        border: 2px solid var(--dr-notification-border-color);
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            button {
                margin-right: 1.6rem;
            }

            .header_right {
                flex-grow: 1;

                .dropdown-toggle {
                    &::after {
                        border-top: transparent;
                        border-right: transparent;
                    }
                }

                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            padding: 0 var(--dr-space-2-7);
                            line-height: 60px;
                            transition: all linear .3s;

                            &:hover {
                                background: #eee;
                            }
                        }

                        .dropdown-menu {
                            position: absolute;
                            padding: 0;
                            color: var(--dr-text-color);
                            text-align: left;
                            background-color: var(--dr-white);
                            border-radius: var(--dr-border-radius-1);
                            max-height: 170px;
                            min-width: 150px;
                            overflow-y: auto;
                            box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
                            transition: all .5s ease;
                            border: none;

                            &[data-bs-popper] {
                                top: 100%;
                                left: auto;
                                right: 50px;
                                margin-top: 0;
                            }

                            li {
                                .dropdown-item {
                                    font-size: 13px;
                                    font-weight: 500;
                                    color: var(--dr-body-color);
                                    padding: var(--dr-space-2) var(--dr-space-2-7);

                                    &:first-child {
                                        &:hover {
                                            background: #e9ecef;
                                            border-top-left-radius: var(--dr-border-radius-1);
                                            border-top-right-radius: var(--dr-border-radius-1);
                                        }
                                    }

                                    &:last-child {
                                        &:hover {
                                            background: #e9ecef;
                                            border-bottom-left-radius: var(--dr-border-radius-1);
                                            border-bottom-right-radius: var(--dr-border-radius-1);
                                        }
                                    }
                                }
                            }
                        }

                        .notification_dropdown {
                            transition: all .5s ease;
                            box-shadow: 0 0 15px 0 rgba(0, 0, 0, .05);
                            min-width: 350px;

                            .notification_dropdown_header {
                                padding: 0 var(--dr-space-2-5);
                                border-bottom: 1px solid #eee;
                                position: fixed;
                                width: 350px;
                                background: var(--dr-white);

                                span {
                                    font-size: 14px;
                                }

                                a {
                                    display: block;
                                    padding: var(--dr-space-2-5);
                                    color: var(--dr-orange);
                                    font-size: 11px;

                                }

                                .notifi_content {
                                    ul {
                                        li {
                                            border-bottom: 1px solid #eee;

                                            a {
                                                div {
                                                    span {
                                                        width: 34px;
                                                        height: 34px;
                                                        border-radius: 50%;

                                                        img {
                                                            width: 34px;
                                                            height: 34px;
                                                            border-radius: 50%;
                                                        }
                                                    }
                                                }
                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }

                    .notification_badge {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            width: 20px;
                            height: 20px;
                            background: var(--dr-yellow);
                            border-radius: 50%;
                            top: 6px;
                            right: 3px;
                        }

                        &::after {
                            position: absolute;
                            content: "4";
                            top: 7px;
                            right: 10px;
                            color: var(--dr-white);
                            font-weight: 700;
                            font-size: 12px;
                        }
                    }

                    .online_status {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: '';
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: var(--dr-success);
                            right: 22px;
                            bottom: 11px;
                            border: 2px solid var(--dr-white);
                        }
                    }
                }
            }
        }
    }
}

.content {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    max-width: calc(100% - 260px);
    padding: var(--dr-space-3-8);
    background: #fafbfe;

    .row {
        .dash_widget {
            padding: var(--dr-space-3-5);
            margin-bottom: var(--dr-space-3-8);
            border-radius: var(--dr-border-radius-2);
            gap: var(--dr-space-3-5);

            .dash_widgeting {
                span {
                    width: var(--dr-sizes-12);
                    height: var(--dr-sizes-12);
                    border-radius: 50%;
                    background: rgba(249, 110, 111, .12);
                }

                .second_child {
                    background: rgba(40, 199, 111, .12);
                }

                .third_child {
                    background: rgba(0, 207, 232, .12);
                }

                .last_child {
                    background: rgba(234, 84, 85, .12);
                }
            }

            .dash_widgetcontent {
                /* margin-left: var(--dr-space-3-5); */

                h5 {
                    margin-bottom: 5px;
                    font-size: var(--dr-font-size-md2);
                    color: #212b36;
                }

                h6 {
                    font-size: var(--dr-font-size-sm);
                    color: #212b36;
                }
            }
        }

        .dash_count {
            background: var(--dr-yellow);
            padding: var(--dr-space-3-5);
            border-radius: var(--dr-border-radius-2);
            margin-bottom: var(--dr-space-3-5);
            color: var(--dr-white);
            min-height: 98px;

            &:hover {
                .dash_img {
                    transform: scale(1.25);
                }
            }

            .dash_counter {
                h5 {
                    font-size: var(--dr-font-size-sm);
                }
            }
        }

        .dash_img {
            width: var(--dr-sizes-13);
            height: var(--dr-sizes-13);
            transition: all .5s ease;
        }

        .dash2 {
            background: var(--dr-info);
        }

        .dash3 {
            background: var(--dr-primary);
        }

        .dash4 {
            background: var(--dr-success);
        }
    }

    .row {
        .sales_card {
            margin-bottom: var(--dr-space-3-8);
            border-radius: var(--dr-border-radius-2);
            background: var(--dr-white);
            min-height: 408px;

            .card_header {
                padding: var(--dr-space-3-5);
                padding-bottom: 0;

                h5 {
                    font-size: var(--dr-font-size-md2);
                    color: #212b36;
                }

                .graph_sets {
                    ul {
                        li {
                            margin-right: 2.188rem;

                            span {
                                position: relative;

                                &::after {
                                    position: absolute;
                                    content: "";
                                    width: .75rem;
                                    height: .75rem;
                                    background: var(--dr-success);
                                    border-radius: 50%;
                                    top: 6px;
                                    left: -20px;

                                }
                            }
                        }

                        .bg_color {
                            span {
                                &::after {
                                    background: var(--dr-orange);
                                }
                            }

                        }
                    }

                    .dropdown {
                        button {
                            padding: 3px 10px;

                            &::after {
                                display: none;
                            }

                            img {
                                margin-left: .5rem;
                            }
                        }
                    }
                }
            }

            .card_body {
                padding: var(--dr-space-3-5);

                .table-responsive {
                    table {
                        margin: var(--dr-space-2-3) 0;

                        thead {
                            tr {
                                vertical-align: baseline;

                                th {
                                    padding: 10px 30px 10px 10px;
                                    cursor: pointer;
                                    border-bottom: 1px solid #e9ecef;
                                    position: relative;

                                    &::before {
                                        position: absolute;
                                        content: "\f106";
                                        font-family: "font awesome 5 free";
                                        top: 6px;
                                        right: .5em;
                                        color: #babfc7;
                                        font-size: 12px;
                                        opacity: 1;
                                    }

                                    &::after {
                                        position: absolute;
                                        content: "\f107";
                                        font-family: "font awesome 5 free";
                                        bottom: 6px;
                                        right: .5em;
                                        color: #babfc7;
                                        font-size: 12px;
                                        opacity: 1;

                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                vertical-align: middle;
                                transition: all linear .3s;

                                td {
                                    padding: var(--dr-space-2-4);

                                    a {
                                        transition: all linear .3s;

                                        &:hover {
                                            color: var(--dr-yellow);
                                        }

                                        img {
                                            margin-right: var(--dr-space-2-4);
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    .row {
        .expired_product {
            padding: var(--dr-space-3-5);
            background: var(--dr-white);

            h4 {
                font-size: 1.125rem;
                margin-bottom: var(--dr-space-2-4);
            }

            .table-responsive {
                table {
                    thead {
                        tr {
                            vertical-align: middle;

                            th {
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "\f106";
                                    font-family: "font awesome 5 free";
                                    top: 6px;
                                    right: .5em;
                                    color: #babfc7;
                                    font-size: 12px;
                                    opacity: 1;
                                }

                                &::after {
                                    position: absolute;
                                    content: "\f107";
                                    font-family: "font awesome 5 free";
                                    bottom: 6px;
                                    right: .5em;
                                    color: #babfc7;
                                    font-size: 12px;
                                    opacity: 1;

                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            vertical-align: middle;

                            td {
                                color: #637381;
                                font-size: 14px;

                                a {
                                    color: #212b36;
                                    transition: all linear .3s;

                                    &:hover {
                                        color: var(--dr-yellow);
                                    }

                                    img {
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:991px) {
    .sidebar {
        width: 0;
        overflow: hidden !important;
        border-right: none !important;
    }

    .content {
        max-width: 100%;
        left: 0;
    }

    .header {
        .navbar {
            border-bottom: 1px solid var(--dr-border-color);

            .header_left {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-bottom: none !important;
            }

            .header_right {
                border-bottom: none !important;
            }
        }
    }
}

/* notification page style */
.content {
    .content_header {
        margin-bottom: 1.6rem;

        h4 {
            font-size: 18px;
            color: #212b36;
        }

        h6 {
            font-size: 14px;
            color: #555;
        }
    }

    .content_body {
        .notification_activity {
            padding: 12px 10px 10px;
            margin-bottom: 10px;
            background: var(--dr-white);

            a {
                width: 50px;
                height: 50px;
                border-radius: 5px;
                overflow: hidden;

                img {
                    object-fit: cover;
                }
            }

            .notification_content {
                margin-left: 10px;

                a {
                    color: #000;
                    font-weight: 600;
                    font-size: 15px;
                }

                span {
                    font-size: 14px;
                }

                p {
                    color: #bdbdbd;
                    font-size: 12px;
                    line-height: 1.35;
                }
            }
        }
    }
}

/* addbrand style css */
.content_body {
    background: var(--dr-white);

    .card_brand {
        padding: 20px;

        div {
            input {
                min-width: 230px;
            }

            .form-control::file-selector-button {
                display: none;
            }
        }

        .btn {
            --bs-btn-padding-x: 0.6rem;
            --bs-btn-padding-y: 0.9rem;
            --bs-btn-font-size: 14px;
            --bs-btn-font-weight: 700;
            min-width: 120px;
        }

        .btn-primary {
            --bs-btn-bg: var(--dr-yellow);
            --bs-btn-border-color: var(--dr-yellow);
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #fe820e;
            --bs-btn-hover-border-color: #fe820e;
            --bs-btn-active-bg: #fe820e;
            --bs-btn-active-border-color: #fe820e;
        }

        .btn-secondary {
            --bs-btn-bg: #637381;
            --bs-btn-border-color: #637381;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #424b52;
            --bs-btn-hover-border-color: #424b52;
            --bs-btn-active-bg: #424b52;
            --bs-btn-active-border-color: #424b52;
        }
    }
}